body {
    margin: 0px;
    padding-top: 64px;
}

#top {
    position: fixed;

    top: 0px;
    left: 0px;
    width: 100%;
    height: 64px;

    border: solid 4px #000000;
    box-sizing: border-box;

    color: #ffffff;
}

#main {
    display: flex;
}

#main>div {
    padding-left: 16px;
    padding-right: 16px;
}

#main>.left {
    flex: 3;

    border: solid 4px #ff8000;
    box-sizing: border-box;
}

#main>.right {
    flex: 2;

    border: solid 4px #0080ff;
    box-sizing: border-box;
}

#main>.right>img {
    width: 100%;

    margin-top: 16px;
}

#description {
    margin: 16px;
}

#description>div {

}

hr {
    border: solid 2px #000000;
}