body {
    margin: 0px;
    padding-top: 64px;
}

#top {
    position: fixed;

    top: 0px;
    left: 0px;
    width: 100%;
    height: 64px;

    border: solid 4px #000000;
    box-sizing: border-box;

    background: #ffffff;
}

#top>div {
    border-right: solid 4px #000000;

    height: 100%;
    width: fit-content;

    padding: 8px;

    box-sizing: border-box;

    font-size: xx-large;
}

#top>div>a {
    color: #000000;
}

#main {
    display: flex;
}

#main>div {
    padding-left: 16px;
    padding-right: 16px;
}

#main>.left {
    flex: 3;

    box-sizing: border-box;
}

#main>.right {
    flex: 2;

    box-sizing: border-box;
}

#main>.right>img {
    width: 100%;

    margin-top: 16px;
}

#featured {
    margin-top: 16px;

    column-count: 3;
    column-gap: 8px;
}

#featured>div {
    border: solid 4px #000000;
    border-radius: 8px;

    box-sizing: border-box;

    break-inside: avoid;
}

#featured>div>a {
    color: #000000;
}

#featured>div>a>img {
    width: 100%;

    border-radius: 0px;

    display: block;
}

#featured>div>a>span {
    display: block;

    text-align: center;
    font-size: clamp(12px, 3vw, 32px);

    width: 100%;

    padding: 4px;

    box-sizing: border-box;
}

#description {
    margin: 16px;
}

#description>div {

}

hr {
    border: solid 2px #000000;
}

#gallery {
    margin: 16px;

    column-width: 384px;
    column-gap: 8px;
}

#gallery img {
    width: 100%;

    display: block;

    margin-bottom: 8px;

    break-inside: avoid;

    box-sizing: border-box;
}

img {
    border-radius: 8px;
}

#project-list {
    margin: 16px;

    column-width: 256px;
    column-gap: 8px;

    max-width: 100%;
    width: 100%;

    box-sizing: border-box;
}

#project-list>div {
    border: solid 4px #000000;
    border-radius: 8px;
    box-sizing: border-box;

    display: block;

    margin-bottom: 8px;

    break-inside: avoid;
}

#project-list>div>a {
    color: #000000;
}

#project-list>div>a>img {
    width: 100%;

    border-radius: 0px;

    display: block;
}

#project-list>div>a>span {
    display: block;

    text-align: center;
    font-size: clamp(12px, 3vw, 32px);

    width: 100%;

    padding: 4px;

    box-sizing: border-box;
}