body {
    margin: 0px;
    padding-top: 64px;
}

#top {
    position: fixed;

    top: 0px;
    left: 0px;
    width: 100%;
    height: 64px;

    border: solid 4px #000000;
    box-sizing: border-box;

    background: #ffffff;
}

#main {
    display: flex;
}

#main>div {
    padding-left: 16px;
    padding-right: 16px;
}

#main>.left {
    flex: 3;

    box-sizing: border-box;
}

#main>.right {
    flex: 2;

    box-sizing: border-box;
}

#main>.right>img {
    width: 100%;

    margin-top: 16px;

    border-radius: 8px;
}

#description {
    margin: 16px;
}

#description>div {

}

hr {
    border: solid 2px #000000;
}

#gallery {
    margin: 16px;

    column-count: 2;
    column-gap: 8px;
}

#gallery>img {
    width: 100%;

    display: block;

    margin-bottom: 8px;

    break-inside: avoid;

    border-radius: 8px;
}